:root {
    --bg: #222222;
    --bg2: #333333;
    --bg3: #444444;
    --bg4: #555555;

    --softBg: #999999;
    --txt: #eeeedd;

    --tint01: #d47222;
    --tint012: #ff7300;
    
    --tint02: #7f078a;
    --tint022: #a62bb1;

    --red: #bb3030;
    --green: #11ee11;
    --golden: #ffff11;

    background-color: var(--bg);
}

* {
    background-color: transparent;
    color: var(--txt);
    font-family: lato, sans-serif;


    border-style: solid;
    border-width: 0px;
    border-radius: 2px;

}

h1 {
    background-color: transparent;
    font-size: 32px;
    color: var(--txt);
}

h2 {
    background-color: transparent;
    font-size: 20px;
    color: var(--txt);
}

h3 {
    background-color: transparent;
    font-size: 20px;
    color: var(--txt);
}

p,
h4 {
    background-color: transparent;
    font-size: 14px;
    color: var(--txt);
}




.in {
    border-color: var(--softBg);
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;

    margin-left: 20px;
    margin-right: 20x;
    margin-top: 10px;
    margin-bottom: 10px;

    height: 30px;
    width: 50;

    font-size: 16px;

    background-color: var(--txt);
    color: var(--bg);
}

::placeholder {
    color: var(--tint010);
    font-size: 12px;


}

[x]::placeholder {
    color: red;
    font-size: 16px;
}

.btn {
    color: var(--txt);
    background-color: var(--bg4);
    border-color: var(--txt);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;

    margin-left: 5px;
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;

    min-height: 35px;
    min-width: 35px;
    transition: background-color 0.2s;
}

.btn[del] {
    color: var(--red);
    border-width: 3px;
    font-weight: 700;
    border-color: var(--red);
    border-radius: 5px;
    padding: 2px;


}

.btn.t2{
    background-color: var(--tint02);
}
.btn.t2:hover{
    background-color: var(--tint022);
}

.btn.t1{
    background-color: var(--tint01);
}
.btn.t1:hover{
    background-color: var(--tint012);
}



.btn:hover {
    background-color: var(--bg2);
}

.bord {
    border-color: var(--txt);
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    background-color: transparent;
}

.row {
    text-align: center;
    display: flex;
    flex-direction: row;

}

.col {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.q_input {
    margin-left: auto;
    margin-right: auto;
    width: 60%;

}

.item {
    flex: 1;
    margin: 2px;
    display: flex;
    vertical-align: center;
    vertical-align: middle;

}

.qBtn {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    margin-top: 5px;
}

.out {
    background-color: #999999;
}

td {
    background-color: transparent;
    border-radius: 3px;
    border: 2px solid;
    margin-left: auto;

    margin-left: auto;
    margin-right: auto;
}

.transp {
    background-color: transparent;
}

.hcent {
    margin-left: auto;
    margin-right: auto;
}

.vcent {
    margin-top: auto;
    margin-bottom: auto;
}

.lrg {
    width: 200px;
    padding: 5px;

}

.logo {
    margin-left: 15%;
    margin-right: 15%;
    
    display: inline-block;
}

.aba {
    display: inline-block;
    border-style: solid;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 2px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-color: var(--txt);

    padding-left: 12px;
}