
:root {
    --bg: #222222;
    --bg2: #333333;
    --bg3: #444444;
    --bg4: #555555;

    --softBg: #999999;
    --txt: #eeeedd;

    --tint01: #ed7411;
    --tint02: #555555;

    --red: #bb3030;
    --green: #11ee11;
    --golden: #ffff11;

    background-color: var(--bg);
}

* {
    background-color: transparent;
    color: var(--txt);
    font-family: lato, sans-serif;


    border-style: solid;
    border-width: 0px;
    border-radius: 12px;

}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.in{
    max-width: 200px;
    border-radius: 12px;
    background-color: var(--bg1);
    border-color: var(--bg2);
    border-width: 2px;
    border-style: solid;
    color: var(--softBg);
    
}