:root {
  --bg: #222222;
  --bg2: #333333;
  --bg3: #444444;
  --bg4: #555555;

  --softBg: #999999;
  --txt: #eeeedd;

  --tint01: #ed7411;
  --tint02: #555555;

  --red: #bb3030;
  --green: #11ee11;
  --golden: #ffff11;

  background-color: var(--bg);
}

* {
  background-color: transparent;
  color: var(--txt);
  font-family: lato, sans-serif;


  border-style: solid;
  border-width: 0px;
  border-radius: 12px;

}

.App {
  text-align: center;
  background-color: var(--bg);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
